*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.newPwBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.reset-title {
    /* width: 200px; */
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: auto;
}

.reset-header-text {
    /* width: 568px; */
    /* height: 108px; */
    font-weight: 300;
    font-size: 36px;
    text-align: center;
}

.reset-pw-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.password-input {
    border-radius: 15px;
    border: 1px solid #bebebe;
    width: 80%;
    height: 88px;
    padding: 30px;
}

.save-button {
    background-color: #020281;
    border-radius: 30px;
    border: 1px solid #020281;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 80%;
    padding: 30px;
    height: 88px;
}

.signin {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    width: 86px;
    color: #000;
    margin-top: -26px;
   
}

@media (max-width:750px) {
    .reset-header-text{
        font-size: 20px;
    }

    .signin{
        margin-top: 20px;
    }
}
